.progress-bar-wrapper {
  position: fixed;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 300px;
  display: grid;
  grid-template-columns: 60px auto;

  .progress-bar {
    height: 100%;
    width: 100%;
    float: right;
  }

  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    border-radius: 10px 0 0 10px;
    border-color: #31363f;
    color: #76abae;
    border-right: none;
  }
}

.progress-bar-container {
  background-color: #31363f;
  border-radius: 0 4px 4x 0;
}

.progress-bar {
  height: 100%;
  border-radius: 0 4px 4px 0;
  transition: background-color 0.5s ease;
  /* Smooth transition effect */
}

.green {
  background-color: green;
}

.amber {
  background-color: orange;
}

.red {
  background-color: red;
}
